version: '3.8'

services:
  # Serviço PHP (com Apache)
  web:
    image: php:8.1-apache
    container_name: meu_servidor_php
    volumes:
      - ./src:/var/www/html/
    ports:
      - "8080:80"
    
    # --- ADIÇÃO IMPORTANTE AQUI ---
    # Passa as variáveis de conexão para o PHP (via getenv())
    environment:
      DB_HOST: 'db' # O nome do serviço do banco
      DB_NAME: 'meu_projeto_db'
      DB_USER: 'usuario_projeto'
      DB_PASS: 'senha_projeto'
    # --------------------------------
    
    depends_on:
      - db

  # Serviço do Banco de Dados (MySQL)
  db:
    image: mysql:8.0
    container_name: meu_banco_mysql
    restart: always
    environment:
      # Estas variáveis são para o MySQL criar o banco
      MYSQL_ROOT_PASSWORD: 'senha_super_secreta_root'
      MYSQL_DATABASE: 'meu_projeto_db'
      MYSQL_USER: 'usuario_projeto'
      MYSQL_PASSWORD: 'senha_projeto'
    volumes:
      - ./docker_data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"