
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background-image: url(https://grupokallas.com.br/wp-content/uploads/2025/07/Osteria-Zucco-em-Moema-SP-1-1024x683.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #f9f9f9;
            color: #333;
            line-height: 1.6;
        }

        main{
            background-color: #f5f5f5;
            border-radius: 15px;
        }
        header {
            background-color: #af4c4c;
            color: white;
            padding: 1rem 2rem;
            text-align: center;
            
        }

     
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
           
        }

        nav a:hover {
           
            text-decoration: underline;
        }

        main {
            padding: 2rem;
            max-width: 900px;
            margin: auto;
        }

        .hero {
            color: #f9f9f9;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 3rem 1rem;
            background-color: rgba(66, 66, 66 ,0.6);
            border-radius: 8px;
            margin-bottom: 2rem;
        }

        .textroda{
            color: #f9f9f9;
            background-color: rgba(66, 66, 66 ,0.6);
            padding: 1rem 1rem;
            border-radius: 8px;
        }    
        .hero h1 {
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }

        .hero p {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

        .conteiner-botoes{
            display: flex;
            gap: 40px;

        }

        .grupo-botao{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .btn {
            background-color: #af4c4c;
            color: white;
            padding: 0.8rem 1.5rem;
            text-decoration: none;
            border-radius: 5px;
            transition: background 0.9s ease, transform 0.9s ease;
            
        }

        .btn:hover {
            background-color: #a04545;
            transform:  scale(1.1);
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
            margin-top: 2rem;
            
            
        }